canvas {
  --cursorMode: auto;
}
@font-face {
  font-family: smallFont;
  src: url("../smallFont.TTF");
}
html,
body {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100%;
  overscroll-behavior: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas:hover {
  cursor: var(--cursorMode);
}

/*all credits containers are display none by default and are shown individually by their ID's*/
.credits-container {
  display: none;
  position: absolute;
  color: white;
  font-family: "smallFont";
  font-size: large;
  text-align: center;
  height: 40px;
  margin-top: 623px;
  margin-left: 355px;
}
.credits-container {
  cursor: none;
}
.credits-container p {
  cursor: none;
}
